input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#informa {
    border-radius: 1px;
    margin: 0;
    padding: 100px;
    margin: 0;
    font-size: larger;

}

<<<<<<< HEAD
=======
#pagina {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(img/madeira-branca-texturizada-com-fundo-de-sombra-de-folhas_53876-160545.jpg);
}

>>>>>>> 4af1c370473832d63c72fe1377cc591fcae5e0a6
.msg-erro {
    color: red;
}

#footer {
    margin-top: 300px;
}

li.decimal {
    list-style-type: decimal;
}
