input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#informa {
    border-radius: 1px;
    margin: 0;
    padding: 100px;
    margin: 0;
    font-size: larger;

}

.msg-erro {
    color: red;
}

#footer {
    margin-top: 300px;
}

li.decimal {
    list-style-type: decimal;
}
